# Dataset: [Daily Delhi Climate](https://www.kaggle.com/datasets/sumanthvrao/daily-climate-time-series-data)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datasets/5/gemini_ETHUSD_2020_1min.csv')

In [3]:
df

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1.618880e+12,4/20/2021 0:03,ETHUSD,2155.88,2155.88,2154.38,2154.38,0.701288
1,1.618880e+12,4/20/2021 0:02,ETHUSD,2168.63,2168.63,2155.88,2155.88,30.750737
2,1.618880e+12,4/20/2021 0:01,ETHUSD,2172.16,2177.59,2168.63,2168.63,15.458851
3,1.618880e+12,4/20/2021 0:00,ETHUSD,2162.69,2176.00,2162.69,2172.16,33.165910
4,1.618880e+12,4/19/2021 23:59,ETHUSD,2166.54,2166.54,2162.36,2162.69,23.615627
...,...,...,...,...,...,...,...,...
658054,1.577840e+12,1/1/2020 0:04,ETHUSD,128.74,128.74,128.49,128.50,4.039458
658055,1.577840e+12,1/1/2020 0:03,ETHUSD,128.74,128.74,128.74,128.74,0.000000
658056,1.577840e+12,1/1/2020 0:02,ETHUSD,128.74,128.74,128.74,128.74,0.000000
658057,1.577840e+12,1/1/2020 0:01,ETHUSD,128.74,128.74,128.74,128.74,0.000000
658058,1.577840e+12,1/1/2020 0:00,ETHUSD,128.84,128.84,128.74,128.74,0.010000

In [4]:
df.isna().sum()

Unix Timestamp    0
Date              0
Symbol            0
Open              0
High              0
Low               0
Close             0
Volume            0
dtype: int64

In [5]:
import sys
sys.path.insert(0, '/home/shail/bits/PS1/time_series_analysis')

original_stdout = sys.stdout 
	
def outfile(x):
    with open('output.txt', 'w') as f:
        sys.stdout = f
        print(x)
        sys.stdout = original_stdout

In [6]:
from tsa.dateconverter import DateConverter

### Filtering

In [7]:
def filter_year(datetime: str):
    slash = 0
    for i in range(len(datetime)):
        if datetime[i] == '/':
            slash += 1
        if slash == 2:
            return str(datetime[i+1:i+5])
    
df['Year'] = df['Date'].apply(lambda x: filter_year(x))
df

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,Year
0,1.618880e+12,4/20/2021 0:03,ETHUSD,2155.88,2155.88,2154.38,2154.38,0.701288,2021
1,1.618880e+12,4/20/2021 0:02,ETHUSD,2168.63,2168.63,2155.88,2155.88,30.750737,2021
2,1.618880e+12,4/20/2021 0:01,ETHUSD,2172.16,2177.59,2168.63,2168.63,15.458851,2021
3,1.618880e+12,4/20/2021 0:00,ETHUSD,2162.69,2176.00,2162.69,2172.16,33.165910,2021
4,1.618880e+12,4/19/2021 23:59,ETHUSD,2166.54,2166.54,2162.36,2162.69,23.615627,2021
...,...,...,...,...,...,...,...,...,...
658054,1.577840e+12,1/1/2020 0:04,ETHUSD,128.74,128.74,128.49,128.50,4.039458,2020
658055,1.577840e+12,1/1/2020 0:03,ETHUSD,128.74,128.74,128.74,128.74,0.000000,2020
658056,1.577840e+12,1/1/2020 0:02,ETHUSD,128.74,128.74,128.74,128.74,0.000000,2020
658057,1.577840e+12,1/1/2020 0:01,ETHUSD,128.74,128.74,128.74,128.74,0.000000,2020
658058,1.577840e+12,1/1/2020 0:00,ETHUSD,128.84,128.84,128.74,128.74,0.010000,2020

In [8]:
df = pd.DataFrame(df.iloc[::-1])
df = df.reset_index().drop('index', axis = 1)
df

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,Year
0,1.577840e+12,1/1/2020 0:00,ETHUSD,128.84,128.84,128.74,128.74,0.010000,2020
1,1.577840e+12,1/1/2020 0:01,ETHUSD,128.74,128.74,128.74,128.74,0.000000,2020
2,1.577840e+12,1/1/2020 0:02,ETHUSD,128.74,128.74,128.74,128.74,0.000000,2020
3,1.577840e+12,1/1/2020 0:03,ETHUSD,128.74,128.74,128.74,128.74,0.000000,2020
4,1.577840e+12,1/1/2020 0:04,ETHUSD,128.74,128.74,128.49,128.50,4.039458,2020
...,...,...,...,...,...,...,...,...,...
658054,1.618880e+12,4/19/2021 23:59,ETHUSD,2166.54,2166.54,2162.36,2162.69,23.615627,2021
658055,1.618880e+12,4/20/2021 0:00,ETHUSD,2162.69,2176.00,2162.69,2172.16,33.165910,2021
658056,1.618880e+12,4/20/2021 0:01,ETHUSD,2172.16,2177.59,2168.63,2168.63,15.458851,2021
658057,1.618880e+12,4/20/2021 0:02,ETHUSD,2168.63,2168.63,2155.88,2155.88,30.750737,2021
658058,1.618880e+12,4/20/2021 0:03,ETHUSD,2155.88,2155.88,2154.38,2154.38,0.701288,2021

In [9]:
df = pd.DataFrame(df[df['Year'] == '2021'])

# Date Conversion

In [10]:
converter = DateConverter()
converter.directive_df()

   Code    Example                                        Description
0    %a        Sun              Weekday as locale's abbreviated name.
1    %A     Sunday                     Weekday as locale's full name.
2    %w          0  Weekday as a decimal number, where 0 is Sunday...
3    %d         08  Day of the month as a zero-padded decimal number.
4   %-d          8  Day of the month as a decimal number. (Platfor...
5    %b        Sep                Month as locale's abbreviated name.
6    %B  September                       Month as locale's full name.
7    %m         09             Month as a zero-padded decimal number.
8   %-m          9      Month as a decimal number. (Platform speciﬁc)
9    %y         13  Year without century as a zero-padded decimal ...
10   %Y       2013             Year with century as a decimal number.
11   %H         07  Hour (24-hour clock) as a zero-padded decimal ...
12  %-H          7  Hour (24-hour clock) as a decimal number. (Pla...
13   %I         07  Hour (12-hour clock) as a zero-padded decimal ...
14  %-I          7  Hour (12-hour clock) as a decimal number. (Pla...
15   %p         AM            Locale's equivalent of either AM or PM.
16   %M         06            Minute as a zero-padded decimal number.
17  %-M          6     Minute as a decimal number. (Platform speciﬁc)
18   %S         05            Second as a zero-padded decimal number.
19  %-S          5     Second as a decimal number. (Platform speciﬁc)
20   %f     000000  Microsecond as a decimal number, zero-padded t...
21   %z      +0000  UTC oﬀset in the form ±HHMM[SS[.ﬀﬀﬀ]] (empty s...
22   %Z        UTC  Time zone name (empty string if the object is ...

In [11]:
df['Date'] = df['Date'].apply(lambda x: converter.convert_date(x, include_time=True, format_str="%m/%d/%Y %H:%M"))
df

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,Year
501133,1.609460e+12,2021-01-01 00:00:00,ETHUSD,737.39,738.34,737.39,738.34,55.405740,2021
501134,1.609460e+12,2021-01-01 00:01:00,ETHUSD,738.34,740.30,738.34,740.30,11.146143,2021
501135,1.609460e+12,2021-01-01 00:02:00,ETHUSD,740.30,740.30,739.05,739.05,0.221670,2021
501136,1.609460e+12,2021-01-01 00:03:00,ETHUSD,739.05,739.65,738.83,739.65,3.259000,2021
501137,1.609460e+12,2021-01-01 00:04:00,ETHUSD,739.65,739.65,738.81,738.81,0.203800,2021
...,...,...,...,...,...,...,...,...,...
658054,1.618880e+12,2021-04-19 23:59:00,ETHUSD,2166.54,2166.54,2162.36,2162.69,23.615627,2021
658055,1.618880e+12,2021-04-20 00:00:00,ETHUSD,2162.69,2176.00,2162.69,2172.16,33.165910,2021
658056,1.618880e+12,2021-04-20 00:01:00,ETHUSD,2172.16,2177.59,2168.63,2168.63,15.458851,2021
658057,1.618880e+12,2021-04-20 00:02:00,ETHUSD,2168.63,2168.63,2155.88,2155.88,30.750737,2021
658058,1.618880e+12,2021-04-20 00:03:00,ETHUSD,2155.88,2155.88,2154.38,2154.38,0.701288,2021

## Interpolation

In [12]:
from tsa.interpolation import interpolate_dates as interpolate

In [13]:
df = interpolate(df, 'Date', ['Open', 'High', 'Low', 'Close', 'Volume'], interval='T')
df

           Open     High      Low    Close     Volume                Date
0        737.39   738.34   737.39   738.34  55.405740 2021-01-01 00:00:00
1        738.34   740.30   738.34   740.30  11.146143 2021-01-01 00:01:00
2        740.30   740.30   739.05   739.05   0.221670 2021-01-01 00:02:00
3        739.05   739.65   738.83   739.65   3.259000 2021-01-01 00:03:00
4        739.65   739.65   738.81   738.81   0.203800 2021-01-01 00:04:00
...         ...      ...      ...      ...        ...                 ...
156959  2166.54  2166.54  2162.36  2162.69  23.615627 2021-04-19 23:59:00
156960  2162.69  2176.00  2162.69  2172.16  33.165910 2021-04-20 00:00:00
156961  2172.16  2177.59  2168.63  2168.63  15.458851 2021-04-20 00:01:00
156962  2168.63  2168.63  2155.88  2155.88  30.750737 2021-04-20 00:02:00
156963  2155.88  2155.88  2154.38  2154.38   0.701288 2021-04-20 00:03:00

[156964 rows x 6 columns]

# Visualizations

In [14]:
from tsa.visualization import *

In [15]:
small_df = pd.DataFrame(df[:15])
small_df

      Open    High     Low   Close     Volume                Date
0   737.39  738.34  737.39  738.34  55.405740 2021-01-01 00:00:00
1   738.34  740.30  738.34  740.30  11.146143 2021-01-01 00:01:00
2   740.30  740.30  739.05  739.05   0.221670 2021-01-01 00:02:00
3   739.05  739.65  738.83  739.65   3.259000 2021-01-01 00:03:00
4   739.65  739.65  738.81  738.81   0.203800 2021-01-01 00:04:00
5   738.81  738.81  737.67  737.67  22.738626 2021-01-01 00:05:00
6   737.67  737.67  737.53  737.53   0.130878 2021-01-01 00:06:00
7   737.53  737.53  737.53  737.53   0.000000 2021-01-01 00:07:00
8   737.53  737.53  735.67  735.68  13.545490 2021-01-01 00:08:00
9   735.68  735.68  734.67  734.67   0.097339 2021-01-01 00:09:00
10  734.67  734.67  734.67  734.67   0.000000 2021-01-01 00:10:00
11  734.67  734.67  732.49  734.12   0.165049 2021-01-01 00:11:00
12  734.12  734.93  734.12  734.93   0.291847 2021-01-01 00:12:00
13  734.93  734.93  732.00  732.03  40.386595 2021-01-01 00:13:00
14  732.03  732.65  731.49  732.48  33.901742 2021-01-01 00:14:00

## Waterfall Plot

In [16]:
plot_params = waterfall_plot(small_df, 'Date', 'Open', 'Waterfall plot of Stock', remove_time=True)

In [17]:
outfile(plot_params['d'])

## Lag Plot

In [18]:
# data = lag_plot(df['Close'], 30, 'Lag plot of stock', 200)

In [19]:
# outfile(data['data'])

## Stacked Area Chart

In [20]:
x = stacked_area_plot(df, ['Open', 'Close', 'Low'], 'Date', 'stacked_area_plot', remove_time=False)

In [21]:
x.keys()

dict_keys(['title', 'names', 'vals', 'x'])

In [22]:
outfile(x['vals'][2])

# Properties

In [23]:
import numpy as np
x = 'Date'

In [24]:
from tsa.properties import *

In [25]:
trend = Trend(df, 'Close', 'Date')

In [26]:
params = trend.plot(remove_time = False)

In [27]:
params.keys()

dict_keys(['title', 'data', 'x'])

In [28]:
outfile(params['x'])

In [29]:
trend.detrend()

                     Original     Detrend
Date
2021-01-01 00:00:00    738.34  738.340000
2021-01-01 00:01:00    740.30  740.282546
2021-01-01 00:02:00    739.05  739.015092
2021-01-01 00:03:00    739.65  739.597637
2021-01-01 00:04:00    738.81  738.740183
...                       ...         ...
2021-04-19 23:59:00   2162.69 -576.902370
2021-04-20 00:00:00   2172.16 -567.449824
2021-04-20 00:01:00   2168.63 -570.997278
2021-04-20 00:02:00   2155.88 -583.764732
2021-04-20 00:03:00   2154.38 -585.282186

[156964 rows x 2 columns]

In [30]:
p = trend.plot_detrend(remove_time = True)

In [31]:
p.keys()

dict_keys(['title', 'data', 'data_detrend', 'x'])

In [32]:
outfile(p['x'])

## Seasonality

In [33]:
seasonality = Seasonality(df, 'Close', 'Date')

In [34]:
seasonality.seasonal()

Date
2021-01-01 00:00:00    1.0
2021-01-01 00:01:00    1.0
2021-01-01 00:02:00    1.0
2021-01-01 00:03:00    1.0
2021-01-01 00:04:00    1.0
                      ...
2021-04-19 23:59:00    1.0
2021-04-20 00:00:00    1.0
2021-04-20 00:01:00    1.0
2021-04-20 00:02:00    1.0
2021-04-20 00:03:00    1.0
Name: seasonal, Length: 156964, dtype: float64

In [35]:
seasonality.deseasonalize()

                     Original  Deseasonalized
Date
2021-01-01 00:00:00    738.34          738.34
2021-01-01 00:01:00    740.30          740.30
2021-01-01 00:02:00    739.05          739.05
2021-01-01 00:03:00    739.65          739.65
2021-01-01 00:04:00    738.81          738.81
...                       ...             ...
2021-04-19 23:59:00   2162.69         2162.69
2021-04-20 00:00:00   2172.16         2172.16
2021-04-20 00:01:00   2168.63         2168.63
2021-04-20 00:02:00   2155.88         2155.88
2021-04-20 00:03:00   2154.38         2154.38

[156964 rows x 2 columns]

In [36]:
p=seasonality.plot_deseasonalize()

In [ ]:
outfile(p['data_des'])

## Stationarity: now integrated with ARIMA

## Autocorrelation

In [ ]:
a = Autocorrelation()

In [ ]:
a.autocorrelation(df['Open'])

{'title': 'Autocorrelation plot of Open, order = 0',
 'y': [1.0,
  0.9752979711988511,
  0.9531624310423276,
  0.9290210639586053,
  0.9063984537194453,
  0.8810893912066061,
  0.8545592795815025,
  0.8320333502537866,
  0.8073821527564129,
  0.7855213221620925,
  0.7668318936038371,
  0.7467704513474687,
  0.7263441881084176,
  0.7070064186149615,
  0.6945159192909174,
  0.6815382510394706,
  0.6690081523464364,
  0.6531988376666664,
  0.6391447422559996,
  0.628512541913889,
  0.6146886914823265,
  0.6001979968731954,
  0.5811636587057813,
  0.5670600438878007,
  0.5543025014262816,
  0.5426023066094311],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25],
 'upper': [0.0,
  0.10244895864565728,
  0.1745368359325793,
  0.22256312993017635,
  0.26009952142685233,
  0.2913718644418387,
  0.3181095947202719,
  0.3413550452256847,
  0.3620156158432688,
  0.3804457924831608,
  0.3971041716377953,
  0.4123535195652137,
  0.42631176012781924,
  0.43910860522815265,
  0.4508981892882904,
  0.4619897341500784,
  0.47242458101487084,
  0.4822657208186125,
  0.4914638087730391,
  0.5001118485229225,
  0.5083346560387837,
  0.5160771515730349,
  0.5233522550737237,
  0.5300825535692976,
  0.5364116930936625,
  0.5423902593342785],
 'lower': [0.0,
  -0.10244895864565717,
  -0.17453683593257918,
  -0.22256312993017646,
  -0.26009952142685233,
  -0.2913718644418387,
  -0.3181095947202718,
  -0.34135504522568466,
  -0.3620156158432689,
  -0.38044579248316085,
  -0.39710417163779527,
  -0.41235351956521377,
  -0.4263117601278192,
  -0.43910860522815254,
  -0.4508981892882904,
  -0.46198973415007843,
  -0.4724245810148709,
  -0.48226572081861246,
  -0.49146380877303913,
  -0.5001118485229225,
  -0.5083346560387837,
  -0.5160771515730349,
  -0.5233522550737236,
  -0.5300825535692975,
  -0.5364116930936625,
  -0.5423902593342785]}

In [ ]:
a.durbin_watson_test(df['Close'], summary = True)

As value of statistic is close to 0, series is positively autocorrelated.

0.03702740744372263

## Partial Autocorrelation

In [ ]:
p = PartialAutocorrelation()
p.partial_autocorrelation(df['Close'])

{'title': 'Partial Autocorrelation plot of Close, order = 0',
 'y': [1.0,
  0.9804261487011565,
  -0.03144882700935218,
  -0.025561963925761478,
  -0.07717496231254937,
  0.01458092770842006,
  0.002802284906414637,
  0.02324308082707098,
  -0.08861647801516312,
  -0.01457439596121472,
  0.06777047050555124,
  0.0282605793276168,
  0.06875026393962577,
  0.10126827102299332,
  -0.10567386298845827,
  0.07564126264204014,
  0.0076446491942542445,
  -0.03612725571784281,
  -0.04395493981606512,
  0.026099606046152184,
  -0.011043435218115018,
  -0.02040186993153929,
  0.0025801928932418887,
  0.03611952791831125,
  0.026053566440872984,
  -0.05283890056354348],
 'x': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25],
 'upper': [0.0,
  0.10244895864565717,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565717,
  0.1024489586456572,
  0.1024489586456572,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565717,
  0.10244895864565719,
  0.10244895864565719,
  0.10244895864565719,
  0.1024489586456572,
  0.1024489586456572,
  0.10244895864565719],
 'lower': [0.0,
  -0.10244895864565717,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565719,
  -0.1024489586456572,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565719,
  -0.10244895864565717,
  -0.10244895864565717,
  -0.10244895864565717]}

## Differencing: now integrated with ARIMA

# Models

## ARIMA

In [42]:
from tsa.models import Arima

In [43]:
train_df = df[:int(0.8 * len(df))]
test_df = df[int(0.8 * len(df)):]

df = train_df

In [44]:
model = Arima()
model(df, 'Date', 'Close')

In [46]:
model.test_stationarity(1)

1. ADF :  -44.58230912859464
2. P-Value :  0.0
3. Num Of Lags :  66
4. Num Of Observations Used For ADF Regression and Critical Values Calculation : 125503
5. Critical Values :
	 1% :  -3.430402105796314
	 5% :  -2.861563029997202
	 10% :  -2.5667822580526516


As p-value is inside the confidence interval of 95%, series is stationary.

In [51]:
params = model.acf_plot(1)

In [52]:
params.keys()

dict_keys(['title', 'y', 'x', 'upper', 'lower'])

In [54]:
outfile(params['y'])

In [49]:
params = model.pacf_plot(1)

In [50]:
outfile(params['title'])

In [55]:
model.fit()

:

:

In [ ]:
model.error_metrics(test_df, 'Close')

  Metric         Value
0   MAPE      0.088567
1    MAE    162.116491
2    MSE  36671.757574

In [ ]:
params = model.plot_forecast(test_df, 'Close', exclude_time=True)

In [ ]:
outfile(params['y_forecast'])